.new-artists
{
  margin-top : rem-calc(20);
  z-index    : -1;
}

.slider-index
{
  margin : rem-calc(20) rem-calc(30);
}

.slider-index-element
{
  margin  : 0 rem-calc(1);
  opacity : 0.8;
  transform : scale(.92);
}

.slider-index-element.slick-center
{
  opacity   : 1;
  transform : scale(1);
}
