.new-artists
{
  margin-top : rem-calc(20);
  z-index    : -1;
}

.slider-index
{
  margin : rem-calc(20) rem-calc(30);
}

.slider-index-element
{
  margin  : 0 rem-calc(8);
  opacity : 0.8;
}

.slider-index-element img
{
  max-width  : 100%;
  max-height : 100%;
  display    : inline-block;
  margin     : 0 auto;
}

.year-label-index
{
  color      : $white;
  width      : 100%;
  text-align : center;
  font-size  : rem-calc(12);
  margin     : 0 auto;
}

.album-artist-label
{
  background : $primary-color;
  color: #ffffff;
  width      : 100%;
  text-align : center;
  font-size  : rem-calc(12);
  margin     : 0;
  padding    : 0;
}

.slider-index-element.slick-center
{
  opacity   : 1;
  transform : scale(1.08);
}

.latest-item-element h5
{
  overflow      : hidden;
  white-space   : nowrap;
  display       : block;
  text-overflow : ellipsis;
}

footer-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: rem-calc(60);
}
