.headroom
{
  @extend .fixed;
  @include single-transition(transform, 200ms, linear);
  &.headroom--top {  }
  @media #{$small-only}, #{$medium-only}
  {
    &.headroom--pinned
    {
      @include transform2d(translateY(0%));
    }
    &.headroom--unpinned
    {
      @include transform2d(translateY(-100%));
    }
  }
}

.nav-bar
{
  border-bottom: solid rem-calc(3) rgba(198, 0, 0, .7);
  background: rgba(0, 0, 0, .7);
  @include single-transition(all, 300ms, linear);

  &:hover
  {
    background: rgba(0, 0, 0, .9);
    @include box-shadow(0 0 4px rgba(black, .14), 0 4px 8px rgba(black, .28));
    border-bottom: solid rem-calc(3) rgba(198, 0, 0, .9);
  }

  .top-bar
  {
    .name h1 a:before
    {
      background: url(../img/logo/logo-topbar.png) no-repeat center center;
      content: "";
      display: inline-block;
      height: 40px;
      position: relative;
      width: 100px;
    }
  }

  .top-bar-section
  {
    .dropdown
    {
      i
      {
        width: rem-calc(25);
      }
    }
    @media #{$medium-up}
    {
      .dropdown
      {
        @include single-transition(all, 300ms, ease-out);
        opacity: 0;
        transform: translateY(-5%);
      }
      .has-dropdown.hover > .dropdown, .has-dropdown.not-click:hover > .dropdown
      {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    #connection-button-large
    {
      display: flex;
      li:first-child
      {
        margin-left: rem-calc(15);
      }
    }
    #connection-button-mobile
    {
      display: block;
    }

    #profile-topbar
    {
      display: inline-block;
      #profile-picture
      {
        width: rem-calc(32);
        height: rem-calc(32);
        border: rem-calc(2) solid $primary-color;
        display: inline-block;
        vertical-align: middle;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      #profile-name
      {
        padding-left: rem-calc(5);
      }
    }

    input[type="search"].dream-search
    {
      @media #{$medium-up}
      {
        width: 75%;
        margin-left: 25%;
      }
      opacity: .5;
      &:focus
      {
        @media #{$medium-up}
        {
          width: 100%;
          margin-left: 0%;
          @include transition-property(width, margin-left);
          @include transition-duration(.35s);
          @include transition-timing-function(ease-in);
        }
        opacity: 1;
      }
    }
  }
}

#sign-in-modal, #sign-up-modal
{
  .error-msg-sign
  {
    color: #d9534f;
  }
}

@media only screen and (max-width: 40em)
{
  .top-bar-section .has-dropdown > a:after
  {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset rem-calc(5);
    border-color: #dddddd transparent transparent transparent;
    border-left-style: solid;
    margin-right: rem-calc(15);
    margin-top: rem-calc(-4.5);
    position: absolute;
    top: 50%;
    right: 0;
  }
  .button-search
  {
    margin-top: rem-calc(1);
  }
}
