.playlists-name
{

  .playlist-item
  {
    margin: rem-calc(10) 0;
    .icon-playlist-item
    {
      padding-top: rem-calc(15);
    }
    img
    {
      width: rem-calc(50);
      height: rem-calc(50);
    }
  }
}