.playlists-name
{
  .playlist-item
  {
    margin: rem-calc(5) 0;
    height: rem-calc(60);
    padding: rem-calc(5);
    background-color: scale-color($panel-bg, $lightness: -5%);
    cursor: pointer;
    &:hover
    {
      background-color: scale-color($panel-bg, $lightness: -15%);
    }
    &.new-playlist
    {
      vertical-align: middle;
      i
      {
        padding-left: rem-calc(16);
        padding-top: rem-calc(20);
        width: rem-calc(50);
        height: rem-calc(50);
        background-color: scale-color($panel-bg, $lightness: -10%);
        color: $primary-color;
      }
    }
    input, a
    {
      margin-top: rem-calc(7);
    }
    .icon-playlist-item
    {
      vertical-align: middle;
      padding-top: rem-calc(15);
    }
    img
    {
      width: rem-calc(50);
      height: rem-calc(50);
    }
  }
}

.header-playlist-table
{
  height: rem-calc(120);
  .header-playlist-table-img-name
  {
    img
    {
      height: rem-calc(100);
      width: rem-calc(100);
    }
    h1
    {
      display: inline-block;
    }
  }
}