.play-bar
{
  $slider-handle-size: rem-calc(15);
  $slider-handle-size-hover: $slider-handle-size + rem-calc(5);
  $slider-handle-radius: rem-calc(50);
  $slider-handle-color: $primary-color;
  $slider-handle-color-border: scale-color($slider-handle-color, $lightness: -5%);

  .background
  {
    @include background-image(linear-gradient(top, rgba(black, 0) 0%,rgba(black, .9) 100%));
    @include sticky-bottom-footer($footer-height);
    z-index: -1;
  }
  background: rgba(0, 0, 0, .7);
  @include single-transition(all, 300ms, linear);
  @include sticky-bottom-footer($footer-height);
  &:hover
  {
    background: rgba(0, 0, 0, .9);
    @include box-shadow(0 0 4px rgba(black, .14), 0 -4px 8px rgba(black, .28));
  }
  .player-button
  {
    @extend .disable-select;
    &.disabled
    {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .65;
      filter: alpha(opacity=65);
    }
    &.play > i
    {
      width: rem-calc(27);
    }
    i
    {
      @extend .on-hover;
      color: $white;
      height: $footer-height;
      line-height: $footer-height;
      vertical-align: middle;
      margin: 0 rem-calc(15);
    }
  }
  .player-center
  {
    position: absolute;
    display: flex;
    left: 50%;
    @include translateX(-50%);
  }
  .player-top
  {
    .ui-slider
    {
      background: $base;
      border: none;
      z-index: 1;
      height: rem-calc(5);
      width: 100%;
      border-radius: 0;
      cursor: pointer;
      .ui-slider-range
      {
        background: #ef2929;
        height: rem-calc(5);
        border-radius: 0;
      }
      .ui-slider-handle
      {
        z-index: 2;
        position: absolute;
        cursor: pointer;
        top: 0;
        height: $slider-handle-size;
        width: $slider-handle-size;
        background: #ef2929;
        border: rem-calc(1) solid $slider-handle-color-border;
        outline: 0;
        @include border-radius($slider-handle-radius);
        @include translate(-50%, -30%);
        &:hover, &.ui-state-active
        {
          height: $slider-handle-size-hover;
          width: $slider-handle-size-hover;
          border-width: rem-calc(3);
        }
      }
    }
  }
  .player-left
  {
    height: $footer-height;
    width: 30%;
    .image-wrapper
    {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      margin-right: rem-calc(10);
      height: $footer-height;
      width: $footer-height;
      border: 0;
      .img
      {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .text-wrapper
    {
      color: $white;
      display: inline-block;
      height: $footer-height;
      width: calc(100% - 80px);
      overflow: hidden;
      white-space: nowrap;
      #player-song-title
      {
        height: ($footer-height - rem-calc(5)) / 2;
        line-height: ($footer-height - rem-calc(5)) / 2;
        font-weight: bold;
        font-size: rem-calc(18);
      }
      .player-artist-album-wrapper
      {
        #player-artist, .player-dash, #player-album
        {
          color: $smoke;
          height: ($footer-height - rem-calc(5)) / 2;
          line-height: ($footer-height - rem-calc(5)) / 2;
          font-size: rem-calc(14);
          display: inline;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

//.play-bar
//{
//  background: rgba(0, 0, 0, .7);
//  @include single-transition(all, 300ms, linear);
//  position: fixed;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  height: $footer-height;
//  @include background-image(linear-gradient(top, rgba(black, 0) 0%,rgba(black, .9) 100%));
//  &:hover
//  {
//    background: rgba(0, 0, 0, .9);
//    @include box-shadow(0 0 4px rgba(black, .14), 0 -4px 8px rgba(black, .28));
//  }
//}
//
//.bottom-bar
//{
//  height: $footer-height;
//}
//
//.bottom-bar i:hover
//{
//  color: $primary-color;
//  cursor: pointer;
//}
//
//.play-area
//{
//  text-align: center;
//  @include grid-column(6);
//  @media #{$small-only} {
//    @include grid-column(12);
//  }
//}
//
//.play-button
//{
//  color: #FFFFFF;
//  padding-right: rem-calc(5);
//  padding-left: rem-calc(5);
//  padding-top: rem-calc(15);
//  list-style-type: none;
//  display: inline-block;
//}
//
//.volume
//{
//  color: #FFFFFF;
//  padding-right: rem-calc(0);
//  padding-left: rem-calc(0);
//
//  list-style-type: none;
//
//  display: inline-block;
//}
//
//.bottom-right
//{
//  color: #FFFFFF;
//  padding-right: rem-calc(5);
//  padding-left: rem-calc(5);
//
//  padding: rem-calc(0);
//  list-style-type: none;
//
//  display: inline-block;
//
//  margin-right: rem-calc(5);
//}
//
//.test
//{
//  overflow:hidden;
//  width: rem-calc(35);
//  height: rem-calc(50);
//  margin-bottom: rem-calc(0);
//  margin-left: rem-calc(5);
//  padding: rem-calc(0);
//  -webkit-transition:width 0.5s;
//  transition:width 0.5s;
//
//}
//
//.test i
//{
//  width: rem-calc(35);
//  padding-top: rem-calc(15);
//}
//
//.test li
//{
//  white-space:nowrap;
//}
//
//.test:hover
//{
//  width: rem-calc(150);
//  height: rem-calc(50);
//  visibility: visible;
//}
//
//.bottom-music-list
//{
//  line-height: rem-calc(0);
//  margin-top: rem-calc(15);
//
//}
//
//#seek-volume
//{
//  vertical-align:middle;
//  -webkit-appearance: none;
//  border-radius: rem-calc(10);
//  background: #9b9ea1;
//  width: rem-calc(100);
//  height: rem-calc(10);
//  margin: rem-calc(0);
//  margin-bottom: rem-calc(15);
//  outline: 0;
//}
//
//#seek-volume::-webkit-slider-thumb
//{
//  -webkit-appearance: none;
//  width: rem-calc(12);
//  height: rem-calc(12);
//  border-radius: rem-calc(10);
//
//  background: $primary-color;
//}
//
//#seek-music
//{
//  -webkit-appearance: none;
////  border-radius: rem-calc(5);
//  border-bottom-right-radius: rem-calc(5);
//  border-bottom-left-radius: rem-calc(5);
//
//  border-top: rem-calc(0);
//  margin-top: rem-calc(0);
//
//  position: absolute;
//  top: rem-calc(0);
//  width: 100%;
//
//  z-index: 99;
//
//  height: rem-calc(8);
//  background: #9b9ea1;
//  outline: 0;
//}
//
//#seek-music::-webkit-slider-thumb
//{
//  -webkit-appearance: none;
//  width: rem-calc(18);
//  height: rem-calc(18);
//  border-radius: rem-calc(10);
//
//  background: $primary-color;
//}
//
//.ul-volume
//{
//
//  @media #{$medium-up}
//  {
//    @include grid-column(8);
//  }
//}
