.play-bar
{
  $slider-player-background: $base;
  $slider-player-range-background: $primary-color;
  $slider-player-height: rem-calc(5);
  $slider-player-width: 100%;
  $slider-player-handle-size: rem-calc(15);
  $slider-player-handle-size-hover: $slider-player-handle-size + rem-calc(5);
  $slider-player-handle-radius: rem-calc(50);
  $slider-player-handle-color: $base;
  $slider-player-handle-color-border: $vapor;
  $slider-player-handle-border-width: rem-calc(5);
  $slider-player-handle-border-width-hover: $slider-player-handle-border-width + rem-calc(1);
  $slider-player-handle-color-hover: $primary-color;

  .background
  {
    @include background-image(linear-gradient(top, rgba(black, 0) 0%,rgba(black, .9) 100%));
    @include sticky-bottom-footer($footer-height);
    z-index: -1;
  }
  background: rgba(0, 0, 0, .7);
  @include single-transition(all, 300ms, linear);
  @include sticky-bottom-footer($footer-height);
  &:hover .player-top #time-container-current, &:hover .player-top #time-container-duration
  {
    opacity: 1;
    visibility: visible;
  }
  &:hover
  {
    background: rgba(0, 0, 0, .9);
    @include box-shadow(0 0 4px rgba(black, .14), 0 -4px 8px rgba(black, .28));
  }
  i.player-button
  {
    @extend .disable-select;
    color: $white;
    height: ($footer-height - $slider-player-height);
    line-height: ($footer-height - $slider-player-height);
    vertical-align: middle;
    margin: 0 rem-calc(15);
  }
  .player-button
  {
    @extend .disable-select;
    $color: $white;
    $color-active: $primary-color;
    &.disabled
    {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .65;
      filter: alpha(opacity=65);
    }
    &.active > i
    {
      color: $color-active;
      &:hover
      {
        color: lighten($color-active, 10%);
      }
      &:active
      {
        color: $color-active;
      }
    }
    &.play > i
    {
      width: rem-calc(27);
    }
    i
    {
      &:hover
      {
        color: darken($color, 40%);
      }
      &:active
      {
        color: darken($color, 60%);
      }
      color: $color;
      height: ($footer-height - $slider-player-height);
      line-height: ($footer-height - $slider-player-height);
      vertical-align: middle;
      margin: 0 rem-calc(15);
    }
  }
  .player-center
  {
    position: absolute;
    display: flex;
    left: 50%;
    @include translateX(-50%);
  }
  .player-top
  {
    #time-container-current, #time-container-duration
    {
      z-index: 3;
      font-size: rem-calc(10);
      font-weight: bold;
      position: absolute;
      top: 0;
      line-height: rem-calc(13);
      padding: rem-calc(4);
      opacity: 0;
      visibility: hidden;
      cursor: default;
      @include single-transition(opacity, 300ms, linear);
      @include translateY(-30%);
    }
    #time-container-current
    {
      left: 0;
      background: $primary-color;
      color: $white;
      @include border-right-radius(rem-calc(4));
    }
    #time-container-duration
    {
      right: 0;
      background: $gainsboro;
      color: $aluminum;
      @include border-left-radius(rem-calc(4));
    }
    @include ui-slider(block, $slider-player-background, $slider-player-height, $slider-player-width,
            $slider-player-range-background, $slider-player-handle-size, $slider-player-handle-color,
            $slider-player-handle-border-width, $slider-player-handle-color-border, $slider-player-handle-radius,
            $slider-player-handle-size-hover, $slider-player-handle-border-width-hover, $slider-player-handle-color-hover);
  }
  .player-left
  {
    height: $footer-height;
    width: 30%;
    .image-wrapper
    {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      margin-right: rem-calc(10);
      height: $footer-height;
      width: $footer-height;
      border: 0;
      .img
      {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .text-wrapper
    {
      color: $white;
      display: inline-block;
      height: $footer-height;
      width: calc(100% - 80px);
      overflow: hidden;
      white-space: nowrap;
      #player-song-title
      {
        height: ($footer-height - $slider-player-height) / 2;
        line-height: ($footer-height - $slider-player-height) / 2;
        font-weight: bold;
        font-size: rem-calc(18);
      }
      .player-artist-album-wrapper
      {
        #player-artist, .player-dash, #player-album
        {
          color: $smoke;
          height: ($footer-height - $slider-player-height) / 2;
          line-height: ($footer-height - $slider-player-height) / 2;
          font-size: rem-calc(14);
          display: inline;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
  .player-right
  {
    #player-right-wrapper
    {
      display: inline;
      height: ($footer-height - $slider-player-height);
      width: auto;
      .player-button-queue, .player-button-volume
      {
        float: right;
      }
      .player-button-volume:hover + #slider-wrapper,
      #slider-wrapper:hover,
      #slider-wrapper.ui-slider-active
      {
        opacity: 1;
        visibility: visible;
      }
      #slider-wrapper
      {
        display: inline-block;
        height: $footer-height;
        opacity: 0;
        visibility: hidden;
        @include single-transition(opacity, 300ms, linear);
        @include ui-slider(inline-block, $slider-player-background, $slider-player-height, rem-calc(90),
                $slider-player-range-background, $slider-player-handle-size, $slider-player-handle-color,
                $slider-player-handle-border-width, $slider-player-handle-color-border, $slider-player-handle-radius,
                $slider-player-handle-size-hover, $slider-player-handle-border-width-hover, $slider-player-handle-color-hover);
      }
    }
  }
}
