@import "compass/css3/selection";
@include scrollbar(.5em, $primary-color);

$footer-height: rem-calc(60);

*
{
  @include selection(scale-color($primary-color, $lightness: 15%), $white);
}

body
{
  @include single-transition(background, .5s, linear);
}

a
{
  color: inherit;
}

main
{
  margin-bottom: $footer-height;
}

.on-hover:hover
{
  color: $primary-color;
}

.img-circular
{
  @include border-radius(50%);
  overflow: hidden;
}

.ellipsis
{
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.disable-select
{
  @include user-select(none);
}

.top-page
{
  height: $topbar-height;
  width: 100%;
  @include background-image(linear-gradient(top, rgba(black, .9) 0%,rgba(black, 0) 100%));
}

.responsive-img
{
  position            : relative;
  width               : 100%;
  padding-bottom      : 100%;
  display             : inline-block;
  vertical-align      : middle;
  background-image    : none;
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : cover;
}

slick
{
  .slick-prev:before, .slick-next:before
  {
    color: $primary-color !important;
    width: 200% !important;
    height: 200% !important;
  }

  .slick-dots
  {
    li button:before
    {
      color: $primary-color !important;
    }
  }
}

.bottom-border
{
  border-bottom: rem_calc(1) solid #bdbdbd;
}

.custom-reveal-class
{
  @include reveal-close($color:$reveal-close-color);
}

.bump
{
  margin-top: rem-calc(50);
  padding-right: rem-calc(30);
  padding-left: rem-calc(30);
  .card
  {
    padding-bottom: rem-calc(0);
    overflow: hidden;
    @include border-radius(rem-calc(5));
    @include box-shadow(none);
    .responsive-img
    {
      @include border-top-radius(rem-calc(5));
    }
    .text-card
    {
      background: $primary-color;
      .first-text-card
      {
        font-size: rem-calc(16);
        padding: rem-calc(0) rem-calc(5);
        margin-bottom: 0;
        color: $white;
      }
      .second-text-card
      {
        @extend .first-text-card;
        font-size: rem-calc(14);
      }
    }
  }
  .card-shadow
  {
    @extend .card;
    @include material-shadow(2);
  }
}

.post-radius
{
  @include border-right-radius($global-radius);
}

input[type="search"].pre-radius, input[type="text"].pre-radius
{
  @include border-left-radius($global-radius);
}
