.slick-prev:before, .slick-next:before
{
  color   : $primary-color !important;
  width   : 200% !important;
  height  : 200% !important;
}

.slick-dots li button:before
{
  color   : $primary-color !important;
}

.img-circular
{
  border-radius   : 50%;
  overflow        : hidden;
}

.box-shadow
{
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.18);
}

//Text Selection Color
::selection
{
  background: scale-color($primary-color, $lightness: 15%);
  color: $white;
}
::-moz-selection
{
  background: scale-color($primary-color, $lightness: 15%);
  color: $white;
}
