<div id="addTrackToPlaylistModal" class="reveal-modal" data-reveal>
    <h2>Ajouter le titre à une nouvelle playlist</h2>

    <h2>
        <small>{{trackToAddToNewPlaylist.trackName}}</small>
    </h2>
    <input class="radius" ng-keydown="$event.which == 13 && createPlaylistByTrack(playlistToAdd, '#addTrackToPlaylist')"
           ng-model="playlistToAdd" type="text" placeholder="Nom de la playlist"/>
    <a ng-click="createPlaylistByTrack(playlistToAdd, '#addTrackToPlaylistModal')" class="button red radius">Confirmer</a>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="addAlbumToPlaylistModal" class="reveal-modal" data-reveal>
    <h2>Ajouter l'album à une nouvelle playlist</h2>

    <h2>
        <small>{{trackArrayToAddIsValid() && trackArrayToAddToNewPlaylist[0].collectionName}}</small>
    </h2>
    <input class="radius" ng-model="playlistToAdd"
           ng-keydown="$event.which == 13 && createPlaylistByTrackArray(playlistToAdd, '#addAlbumToPlaylist')" type="text"
           placeholder="Nom de la playlist"/>
    <a ng-click="createPlaylistByTrackArray(playlistToAdd, '#addAlbumToPlaylistModal')" class="button red radius">Confirmer</a>
    <a class="close-reveal-modal">&#215;</a>
</div>