<div ng-controller="NavbarController as navbarCtrl">
    <div class="contain-to-grid nav-bar">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#/"></a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="has-form">
                        <div class="row collapse">
                            <div class="large-10 small-10 columns">
                                <input type="search" ng-model='searchElement' class="dream-search pre-radius" placeholder="Rechercher" ng-keydown="$event.which == 13 && search(searchElement)">
                            </div>
                            <div class="small-2 columns">
                                <a href="#/search/{{searchElement}}" class="button-search button expand red post-radius"><i class="fi-magnifying-glass"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <ul id="connection-button-large" ng-class="{hide: sharedProperties.getConnected()}">
                        <li class="hide-for-small-only"><a href="" class="button red sign-up" data-reveal-id="sign-up-modal">Inscription</a></li>
                        <li class="hide-for-small-only"><a href="" class="sign-in" data-reveal-id="sign-in-modal">Connection</a></li>
                    </ul>
                    <ul id="connection-button-mobile" ng-class="{hide: sharedProperties.getConnected()}">
                        <li class="show-for-small-only"><a href="" class="sign-up" data-reveal-id="sign-up-modal"><i class="md md-person-add md-lg"></i> Inscription</a></li>
                        <li class="show-for-small-only"><a href="" class="sign-in" data-reveal-id="sign-in-modal"><i class="fa fa-sign-in fa-lg"></i> Connection</a></li>
                    </ul>
                    <li class="has-dropdown not-click" ng-class="{hide: !sharedProperties.getConnected()}">
                        <a href="">
                            <div id="profile-topbar">
                                <div class="img-circular" id="profile-picture" back-img="http://www.gravatar.com/avatar/{{sharedProperties.getInfoConnection().email | gravatar}}?s=50&r=pg&d=http://glo3102.github.io/team02/img/mystery-man-red.png"></div>
                                <div class="hide-for-medium-only">
                                    <div id="profile-name">{{sharedProperties.getInfoConnection().name}}</div>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown">
                            <li ng-class="{active: sharedPagesStatus.isCurrentPage(sharedPagesStatus.getPageEnum().playlist)}"><a href="#/playlists/"><i class="md md-my-library-music md-lg"></i> Listes de lectures</a></li>
                            <li><a href="#/user/{{sharedProperties.getInfoConnection().id}}"><i class="fa fa-cog fa-lg"></i> Paramètres</a></li>
                            <li class="divider"></li>
                            <li ng-click="logout()"><a href=""><i class="fa fa-sign-out fa-lg"></i> Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                </ul>
            </section>
        </nav>
    </div>
    <div id="sign-in-modal" class="reveal-modal" data-reveal>
        <div class="row">
            <div class="small-12 large-6 columns auth-plain small-centered">
                <div class="signup-panel left-solid">
                    <p class="welcome">Merci de saisir votre adresse e-mail et votre mot de passe</p>
                    <form id="sign-in-form" name="signInForm" data-abide>
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="md md-email md-lg"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="email" name="email" autocomplete="email" placeholder="Adresse e-mail" ng-model="connectionInfo.email" required>
                                <small class="error">Vous devez entrer une adresse e-mail valide.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="md md-lock md-lg"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="password" name="password" placeholder="Mot de passe" ng-model="connectionInfo.password" required>
                                <small class="error">Vous devez entrer un mot de passe.</small>
                            </div>
                        </div>
                        <button type="submit" class="red small radius right" ng-click="login()" ng-disabled="signInForm.$invalid" ng-class="{disabled: signInForm.$invalid}">Connection</button>
                    </form>
                </div>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="sign-up-modal" class="reveal-modal" data-reveal>
        <div class="row">
            <div class="small-12 large-6 columns auth-plain small-centered">
                <div class="signup-panel left-solid">
                    <p class="welcome">Merci de renseigner tous les champs</p>
                    <form id="sign-up-form" name="signUpForm" data-abide>
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="md md-person md-lg"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="text" name="login" autocomplete="login" placeholder="Nom d'utilisateur" ng-model="signupInfo.name" required>
                                <small class="error">Vous devez entrer un nom d'utilisateur.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="md md-email md-lg"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="email" name="email" autocomplete="email" placeholder="Adresse e-mail" ng-model="signupInfo.email" required>
                                <small class="error">Vous devez entrer une adresse e-mail valide.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="md md-lock md-lg"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="password" name="password" id="password" placeholder="Mot de passe" ng-model="signupInfo.password" required>
                                <small class="error">Vous devez entrer un mot de passe.</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="md md-lock md-lg"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe" data-equalto="password" ng-model="signupInfo.confirmPassword" required>
                                <small class="error">Les mots de passe saisis ne sont pas identiques.</small>
                            </div>
                        </div>
                        <button type="submit" class="red small radius right" ng-click="signup()" ng-disabled="signUpForm.$invalid || (signupInfo.password != signupInfo.confirmPassword)" ng-class="{disabled: signUpForm.$invalid || (signupInfo.password != signupInfo.confirmPassword)}">Créer un compte</button>
                    </form>
                </div>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>