<div ng-controller="PlaybarController as playbarCtrl">
    <div class="play-bar clearfix">
        <div class="background"></div>
        <audio media-player="myAudio">
        </audio>
        <div class="player-top">
            <!--<div style="color: #FFF">-->
                <!--{{myAudio.currentTime}}-->
            <!--</div>-->
            <div class="" ui-slider="slider.options" min="0" max="{{currentTrack.duration * speed}}" ng-model="currentTrack.currentTime"></div>
        </div>
        <div class="player-center">
            <a class="player-button" ng-click=""><i class="fa fa-repeat fa-lg"></i></a>
            <a class="player-button" ng-click="prev()" ng-class="{disabled: disabled}"><i class="fa fa-fast-backward fa-2x"></i></a>
            <a class="player-button play" ng-click='play()' ng-class="{disabled: disabled}"><i class="fa fa-2x" ng-class="{'fa-pause': myAudio.playing, 'fa-play': !myAudio.playing}"></i></a>
            <a class="player-button" ng-click="next()" ng-class="{disabled: disabled}"><i class="fa fa-fast-forward fa-2x"></i></a>
            <a class="player-button" ng-click=""><i class="fa fa-random fa-lg"></i></a>
        </div>
        <div class="player-right right hide-for-small-only">
            <a class="player-button" ng-click="clickOnPlayQueue()" ng-href="{{queueUrl}}"><i class="md md-queue-music md-2x bottom-music-list"></i></a>
        </div>
        <div class="player-left left hide-for-small-only" ng-show="sharedProperties.getCurrentTrack()">
            <div class="image-wrapper">
                <div class="img" back-img="{{sharedProperties.getCurrentTrack().artworkUrl60}}"></div>
            </div>
            <div class="text-wrapper">
                <div id="player-song-title">{{sharedProperties.getCurrentTrack().trackName}}</div>
                <div class="player-artist-album-wrapper show-for-large-up">
                    <a id="player-artist" ng-href="#/artist/{{sharedProperties.getCurrentTrack().artistId}}">{{sharedProperties.getCurrentTrack().artistName}}</a>
                    <div class="player-dash">&nbsp;-&nbsp;</div>
                    <a id="player-album" ng-href="#/album/{{sharedProperties.getCurrentTrack().collectionId}}">{{sharedProperties.getCurrentTrack().collectionName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div ng-controller="PlaybarController as playbarCtrl">-->
    <!--<div class="contain-to-grid disable-select play-bar">-->
        <!--<div class="bottom-bar row collapse">-->
            <!--<audio media-player="myAudio">-->
                <!--<source src="http://upload.wikimedia.org/wikipedia/en/d/d0/Rick_Astley_-_Never_Gonna_Give_You_Up.ogg" type="audio/ogg">-->
            <!--</audio>-->
            <!--<div class="first small-12 columns">-->
                 <!--<input class="form-control" id="seek-music" type=range min=0 max=1 step=0.00001 ng-model='audio.progress'/>-->
            <!--</div>-->
            <!--<div class="second small-12 columns">-->
                <!--<ul class="small-3 columns left hide-for-small-only test" >-->
                        <!--<li class="volume small-2 columns left">-->
                            <!--<i ng-click="switchMute()" class="fa fa-volume-off fa-2x" ng-show="myAudio.volume <= 0"></i>-->
                            <!--<i ng-click="switchMute()" class="fa fa-volume-down fa-2x" ng-show="myAudio.volume <= 0.5 && myAudio.volume > 0"></i>-->
                            <!--<i ng-click="switchMute()" class="fa fa-volume-up fa-2x" ng-show="myAudio.volume > 0.5"></i>-->
                            <!--<input id="seek-volume" class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume' >-->
                        <!--</li>-->
                <!--</ul>-->
                <!--<ul class="small-3 columns right hide-for-small-only" >-->
                    <!--<li class="bottom-right small-2 columns right">-->
                        <!--<a ng-click="clickOnPlayQueue()" ng-href="{{queueUrl}}"><i class="md md-queue-music md-2x bottom-music-list"></i></a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<ul class="play-area small-centered columns">-->
                    <!--<li class="play-button small-1 columns left">-->
                        <!--<i  class="fa fa-repeat fa-lg"></i>-->
                    <!--</li>-->
                    <!--<li class="play-button small-3 small-centered columns">-->
                        <!--<i ng-click="prev()" class="fa fa-fast-backward fa-2x"></i>-->
                    <!--</li>-->
                    <!--<li class="play-button small-3 small-centered columns">-->
                        <!--<i ng-click='play()' class="fa fa-play fa-2x" ng-show="!myAudio.playing"></i>-->
                        <!--<i ng-click='play()' class="fa fa-pause fa-2x" ng-hide="!myAudio.playing"></i>-->
                    <!--</li>-->
                    <!--<li class="play-button small-3 small-centered columns">-->
                        <!--<i ng-click="next()" class="fa fa-fast-forward fa-2x"></i>-->
                    <!--</li>-->
                    <!--<li class="play-button small-1 columns right">-->
                        <!--<i class="fa fa-random fa-lg"></i>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->