<div ng-controller="PlaybarController as playbarCtrl">
    <div class="play-bar clearfix">
        <div class="background"></div>
        <audio media-player="myAudio"></audio>
        <div class="player-top">
            <div id="time-container-current" ng-show="myAudio.currentTrack != 0">{{myAudio.formatTime}}</div>
            <div ui-slider="sliderPlayer.options" min="0" max="{{currentTrack.duration * speed}}" ng-model="currentTrack.currentTime" ng-disabled="myAudio.currentTrack == 0"></div>
            <div id="time-container-duration" ng-show="myAudio.currentTrack != 0">{{myAudio.formatDuration}}</div>
        </div>
        <div class="player-center">
            <a class="player-button" ng-click="switchIsLooping()" ng-class="isLooping ? 'active' : ''"><i class="md md-repeat md-lg"></i></a>
            <a class="player-button" ng-click="prev()" ng-class="sharedProperties.getPlayQueueLength() > 1 ? '' : 'disabled'"><i class="fa fa-fast-backward fa-2x"></i></a>
            <a class="player-button play" ng-click='play()' ng-class="sharedProperties.getPlayQueueLength() > 0 ? '' : 'disabled'"><i class="fa fa-2x" ng-class="{'fa-pause': myAudio.playing, 'fa-play': !myAudio.playing}"></i></a>
            <a class="player-button" ng-click="next()" ng-class="sharedProperties.getPlayQueueLength() > 1 ? '' : 'disabled'"><i class="fa fa-fast-forward fa-2x"></i></a>
            <a class="player-button" ng-click="switchIsRandom()" ng-class="isRandom ? 'active' : ''"><i class="md md-shuffle md-lg"></i></a>
        </div>
        <div class="player-right right hide-for-small-only">
            <div id="player-right-wrapper">
                <a class="player-button player-button-queue" ng-click="sharedPagesStatus.togglePlayQueue()" ng-class="{active: sharedPagesStatus.isCurrentPage(sharedPagesStatus.getPageEnum().playQueue)}">
                    <i class="md md-queue-music md-2x bottom-music-list"></i>
                </a>
                <a class="player-button player-button-volume show-for-large-up" ng-click="switchMute()">
                    <i class="md md-2x" ng-class="{'md-volume-up': !myAudio.muted, 'md-volume-off': myAudio.muted}"></i>
                </a>
                <span id="slider-wrapper" class="">
                    <i class="player-button player-button-volume-down fa fa-volume-down"></i>
                    <div ui-slider="sliderVolume.options" min="0" max="100" ng-model="volume"></div>
                </span>
            </div>
        </div>
        <div class="player-left left hide-for-small-only" ng-show="sharedProperties.getCurrentTrack()">
            <div class="image-wrapper">
                <a ng-href="#/album/{{sharedProperties.getCurrentTrack().collectionId}}">
                    <div class="img" back-img="{{sharedProperties.getCurrentTrack().artworkUrl60}}"></div>
                </a>
            </div>
            <div class="text-wrapper">
                <div id="player-song-title">{{sharedProperties.getCurrentTrack().trackName}}</div>
                <div class="player-artist-album-wrapper">
                    <a id="player-artist" ng-href="#/artist/{{sharedProperties.getCurrentTrack().artistId}}">{{sharedProperties.getCurrentTrack().artistName}}</a>
                    <div class="player-dash">&nbsp;-&nbsp;</div>
                    <a id="player-album" ng-href="#/album/{{sharedProperties.getCurrentTrack().collectionId}}">{{sharedProperties.getCurrentTrack().collectionName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
