<div ng-controller="AlbumController as albumCtrl" ng-show="isResolved">
    <div class="artist-header">
        <div class="row">
            <div class="show-for-medium-up">
                <div class="album-artist-picture">
                    <img ng-src={{album.artworkUrl300}} class="img-album">
                </div>
            </div>
            <div class="album-artist-infos">
                <div class="album-title">
                    <h1>{{album.collectionName}}</h1>
                </div>
                <div class="artist-title">
                    <h2><a href="#/artist/{{artist.artistId}}" class="album-artist-link">{{artist.artistName}}</a></h2>
                </div>
                <span class="type-label">{{album.primaryGenreName}}</span>

                <div class="album-artist-description">
                    <h3>
                        <small>{{album.trackCount}} Chansons</small>
                    </h3>
                    <h3>
                        <small>Année de Parution : {{album.releaseDateObj.getFullYear()}}</small>
                    </h3>
                </div>
                <div class="show-for-small-only"><a href={{album.collectionViewUrl}} target="itunes_store"
                                                    style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_itunes-sm.png) no-repeat;width:45px;height:15px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets//images/web/linkmaker/badge_itunes-sm.svg);}"></a>
                </div>
                <div class="show-for-medium-up"><a href={{album.collectionViewUrl}} target="itunes_store"
                                                   style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>
                </div>
            </div>
        </div>
    </div>

    <div id="tool-bar" class="row">
        <div class="small-12">
            <div class="panel tool-bar-panel radius">
                <div class="row collapse">
                    <div class="small-6 large-5 columns left">
                        <div class="small-12 medium-7 large-6 columns left">
                            <a href="" class="button red split expand radius tiny"><i class="fa fa-play fa-lg"></i>
                                Lire
                                tout <span data-dropdown="dropPlay"></span></a>
                            <ul id="dropPlay" class="f-dropdown" data-dropdown-content>
                                <li><a href="">Écouter</a></li>
                                <li><a href="">Lire à la suite</a></li>
                                <li><a href="">Lire en dernier</a></li>
                                <li class="divider"></li>
                                <li><a href="">Remplacer la file d'attente</a></li>
                            </ul>
                        </div>
                        <div class="small-12 medium-5 columns left">
                            <a href="" class="button red expand radius tiny"><i class="fa fa-plus fa-lg"></i> Tout
                                ajouter
                            </a>
                        </div>
                    </div>
                    <div class="small-6 large-5 columns right">
                        <div class="small-12 medium-7 columns right">
                            <input class="radius" type="text" placeholder="Filtre">
                        </div>
                        <div class="small-12 medium-5 columns right">
                            <button href="" data-dropdown="dropSort" aria-controls="dropSort" aria-expanded="false"
                                    class="button red dropdown expand radius tiny"><i class="fa fa-sort fa-lg"></i>
                                Numéro
                                de piste
                            </button>
                            <ul id="dropSort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                                <li><a href="">Numéro de piste</a></li>
                                <li><a href="">Chanson</a></li>
                                <li><a href="">Artiste</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-infos-list">
        <table>
            <thead>
            <tr>
                <th width="30"></th>
                <th width="30"></th>
                <th width="600">Titre de la musique</th>
                <th width="300">Nom de l'artiste</th>
                <th width="50">Durée</th>
            </tr>
            </thead>
            <tbody>
            <tr class="music-row" ng-repeat="track in tracks" ng-mouseover="displayPlayButton(track)"
                ng-mouseleave="hidePlayButton(track)">
                <td class="text-center">
                    <div ng-show="track.displayPlayButton">
                        <span data-tooltip aria-haspopup="true" class="has-tip" title="Écouter"><i
                                class="fa fa-play fa-lg"></i></span></div>
                    <div ng-hide="track.displayPlayButton">
                        {{track.trackNumber}}
                    </div>
                </td>
                <td class="text-center">
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="Ajouter">
                        <i class="fa fa-plus"></i>
                    </span>
                </td>
                <td>{{track.trackName}}</td>
                <td><a href="#/artist/{{artist.artistId}}">{{track.artistName}}</a></td>
                <td class="text-center">{{track.time.Minutes}}:{{track.time.Seconds}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="js/libs/stackblur.js"></script>