<div ng-show="sharedPagesStatus.getIsPageLoaded() && !sharedPagesStatus.getIsCriticalError()">
    <div class="artist-header">
        <div class="row bloc-artist-img-infos">
            <div class="album-artist-picture" ng-switch on="artistPictureLoaded">
                <div ng-switch-when="true" class="show-for-medium-up">
                    <div class="img-circular responsive-img" id="img-artist" back-img="{{artist.image.url}}"></div>
                </div>
            </div>
            <div class="album-artist-infos">
                <div class="artist-title">
                    <h1>{{artist.artistName}}</h1>
                </div>
                <span class="type-label">{{artist.primaryGenreName}}</span>

                <div class="album-artist-description">
                    <h3>
                        <small>{{artist.description}}</small>
                    </h3>
                </div>
                <itunes-link url={{artist.artistLinkUrl}}></itunes-link>
            </div>
        </div>
    </div>
    <div class="row" data-equalizer>
        <div class="small-12 columns">
            <div class="panel radius">
                <h2>Albums</h2>
                <ul class="artist-albums-list">
                    <li class="artist-panel" ng-repeat="album in albums | orderBy:'-releaseDateObj'">
                        <div class="row bump">
                            <div class="row">
                                <div class="card-shadow">
                                    <div class="artist-albums-img" back-img="{{album.artworkUrl300}}"></div>
                                    <div class="row collapse text-card-artist-album">
                                        <a href="#/album/{{album.collectionId}}">
                                            <div class="text-center">
                                                <p class="first-text-card ellipsis">{{album.collectionName}}</p>
                                            </div>
                                            <div class="text-center">
                                                <p class="second-text-card ellipsis">{{album.releaseDateObj | date:'yyyy'}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-show="sharedPagesStatus.getIsPageLoaded() && sharedPagesStatus.getIsCriticalError()">
    <error-msg error-nb="Error {{sharedPagesStatus.getErrorStatus()}}" msg="{{sharedPagesStatus.getErrorMessage()}}"></error-msg>
</div>
<script type="text/javascript" src="js/libs/stackblur.js"></script>