<div ng-controller="ArtistController as artistCtrl">
    <div class="artist-header">
        <div class="row">
            <div class="album-artist-picture" ng-switch on="artistPictureLoaded">
                <div ng-switch-when="true">
                    <div class="img-circular" id="img-artist" backimg={{artist.image.url}}></div>
                </div>
            </div>
            <div class="album-artist-infos">
                <div class="artist-title">
                    <h2>{{artist.artistName}}</h2>
                </div>
                <span class="type-label">{{artist.primaryGenreName}}</span>

                <div class="album-artist-description">
                    <h3>
                        <small>{{artist.description}}
                        </small>
                    </h3>
                </div>
                <div data-interchange="[interchange/itunes/artist/default.html, (default)], [interchange/itunes/artist/medium-large.html, (landscape)], [interchange/itunes/artist/medium-large.html, (medium)], [interchange/itunes/artist/medium-large.html, (large)]"></div>
            </div>
        </div>
    </div>
    <div class="row" data-equalizer>
        <div class="small-12 columns">
            <div class="panel radius">
                <h2>Albums</h2>
                <ul class="artist-albums-list" ng-switch on="albumsLoaded">
                    <li class="artist-panel" ng-repeat="album in albums" ng-switch-when="true">
                        <div class="box-shadow">
                            <a href="#/album/{{album.collectionId}}"><img src="{{album.artworkUrl300}}"
                                                                          class="img-artist-album"></a>
                            <span class="year-label">{{album.releaseDateObj.getFullYear()}}</span>
                        </div>
                        <a href="#/album/{{album.collectionId}}"><h5 class="text-center"><strong>{{album.collectionName}}</strong>
                        </h5></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/libs/class.js"></script>
<script type="text/javascript" src="js/libs/stackblur.js"></script>
<script type="text/javascript" src="js/blur.js"></script>
<script src="js/blur.js"></script>
<script>
</script>