<div ng-show="sharedPagesStatus.getIsPageLoaded() && !sharedPagesStatus.getIsCriticalError()">
    <div class="row">
        <div class="small-12 columns">
            <div class="panel new-artists radius">
                <h2 class="text-center"><i class="md-recent-actors md-lg left"></i> Derniers artistes</h2>
                <home-artist-slider></home-artist-slider>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="panel new-albums radius">
                <h2 class="text-center"><i class="md-album md-lg left"></i> Derniers albums</h2>
                <home-album-slider></home-album-slider>
            </div>
        </div>
    </div>
</div>
<div ng-show="sharedPagesStatus.getIsPageLoaded() && sharedPagesStatus.getIsCriticalError()">
    <error-msg error-nb="Error {{sharedPagesStatus.getErrorStatus()}}" msg="{{sharedPagesStatus.getErrorMessage()}}"></error-msg>
</div>