<div class="row">
    <div class="small-12 columns">
        <div class="panel new-artists radius">
            <h2>Derniers artistes</h2>

            <div class="row">
                <slick dots="true" infinite="true" speed="300" slides-to-show="3" slides-to-scroll="1" init-onload=true data="artistsTab">
                <!--<div ng-repeat="homeArtist in artistsTab track by $index">-->
                   <!--&lt;!&ndash;{{homeArtist}}&ndash;&gt;-->
                    <!--<a href="#/artist/{{homeArtist.artistId}}">-->
                        <!--<img ng-src={{homeArtist.image.url}} alt=""/>-->

                        <!--<h5 class="text-center">-->
                            <!--<strong><span data-tooltip aria-haspopup="true" class="has-tip"-->
                                          <!--title="{{homeArtist.artistName}}">{{homeArtist.artistName}}</span></strong>-->
                        <!--</h5>-->
                    <!--</a>-->
                <!--</div>-->
                </slick>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="panel new-albums radius">
            <h2>Derniers albums</h2>

            <div class="row">
                <div class="slider-index" id="slider-index-albums">
                    <div class="slider-index-element">
                        <a href="#/album">
                            <img src="img/relig.png">

                            <div class="year-label-index">Stupeflip</div>
                            <div class="latest-item-element">
                                <h5 class="text-center">
                                    <strong><span data-tooltip aria-haspopup="true" class="has-tip"
                                                  title="Stup Religion">Stup Religion</span></strong>
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>