<div ng-controller="PlaylistsController as playlistsCtrl">
    <div class="row">
        <div class="small-12 columns">
            <h1>Playlists</h1>

            <input ng-model="playlistToAdd" type="text" placeholder="Name"/>
            <a ng-click="sharedProperties.createPlaylist(playlistToAdd)" class="button">Add</a>
            <a ng-click="alertMessages[alertMessages.length] = 'ALERT'" class="button">Throw Alert</a>
            <div ng-repeat="alert in alertMessages track by $index">
                <div data-alert class="alert-box alert round">
                    {{alert}}
                    <a href="" class="close" ng-click="removeAlert($index)">&times;</a>
                </div>
            </div>
            <div ng-repeat="playlist in sharedProperties.getPlaylists()">
                <div class="panel">
                    <p>[{{$index}}] {{playlist.name}}
                    </p>

                    <div ng-show="playlist.isEdit">
                        <input ng-model="playlistName" type="text" placeholder="Name"/>
                        <a ng-click="confirmRename(playlist, playlistName)" class="button">Confirm</a>
                        <a ng-click="setEdit(playlist, false)" class="button">Cancel</a>
                    </div>
                    <div ng-hide="playlist.isEdit">
                        <a ng-click="setEdit(playlist, true)" class="button">Edit</a>
                        <a ng-click="sharedProperties.removePlaylist($index)" class="button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>