<div ng-controller="PlaylistsController as playlistsCtrl">
    <div class="row">
        <div class="small-12 columns">
            <h1>Playlists</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12">
            <div class="small-4 columns">
                <div class="panel radius">
                    <ul class="playlists-name no-bullet">
                        <li ng-click="switchNewPlaylistClicked()"><i class="fa fa-plus fa-lg"></i> Nouvelle playlist
                        </li>
                        <li ng-show="isNewPlaylistClicked">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row collapse">
                                        <div class="small-10 columns">
                                            <input ng-model="playlistToAdd.name" type="text" class="pre-radius"
                                                   placeholder="" onClick="this.select();">
                                        </div>
                                        <div class="small-2 columns">
                                            <a ng-click="createPlaylist(playlistToAdd.name); switchNewPlaylistClicked()"
                                               class="button expand red post-radius">Créer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-repeat="playlist in sharedProperties.getPlaylists() track by $index"
                            ng-click="setPlaylistActive($index)" ng-mouseover="setHover(playlist, true)"
                            ng-mouseleave="setHover(playlist, false)">
                           <span><i class="fa fa-music fa-lg left"></i>

                            <span ng-hide="playlist.isEdit"> {{playlist.name}}</span>
                            <span ng-show="playlist.isEdit">
                                <input ng-model="playlistCurrentRename.name" type="text" class="pre-radius"
                                       onClick="this.select();">
                            </span>
                            <i class="md-delete md-lg right on-hover" ng-show="playlist.isHover && !playlist.isEdit"
                               ng-click="removePlaylist($index)"></i>
                            <i class="md-edit md-lg right on-hover" ng-show="playlist.isHover  && !playlist.isEdit"
                               ng-click="setEdit($index, playlist, true); setPlaylistCurrentRename(playlist.name)"></i>
                            <i class="md-cancel md-lg right on-hover" ng-show="playlist.isEdit"
                               ng-click="setEdit($index,playlist, false); setPlaylistCurrentRename(playlist.name)"></i>
                            <i class="md-done md-lg right on-hover" ng-show="playlist.isEdit"
                               ng-click="setEdit($index, playlist, false); confirmRename($index, playlist, playlistCurrentRename.name);"></i>
                               </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="small-8 columns">
                <div class="panel radius">
                    <div class="row">
                        <div class="small-9 columns">
                            <h1>{{active.name}}</h1>
                        </div>
                        <div class="small-3 columns">
                            <a ng-click="" class="button red radius right"><i class="fa fa-play fa-lg"></i> Lire</a>
                        </div>
                    </div>
                    <div class="row-infos-list">
                        <table>
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="600">Titre de la musique</th>
                                <th width="300">Album</th>
                                <th width="300">Nom de l'artiste</th>
                                <th width="30"></th>
                                <th width="50" class="text-center"><i class="fa fa-clock-o fa-lg"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="music-row" ng-repeat="track in active.tracks track by $index"
                                ng-mouseover="displayPlayButton(track)" ng-mouseleave="hidePlayButton(track)">
                                <td class="text-center">
                                    <div ng-show="track.displayPlayButton && track.playState == sharedProperties.getPlayStates().idle">
                                <span data-tooltip aria-haspopup="true" class="has-tip" title="Écouter"><i
                                        ng-click="sharedProperties.setCurrentTrack(track)" class="fa fa-play fa-lg"></i></span>
                                    </div>
                                    <div ng-hide="track.displayPlayButton || track.playState != sharedProperties.getPlayStates().idle">
                                        {{track.trackNumber}}
                                    </div>
                                    <div ng-show="track.playState == sharedProperties.getPlayStates().play">
                                        <i class="fa fa-circle-o-notch fa-spin"></i>
                                    </div>
                                    <div ng-show="track.playState == sharedProperties.getPlayStates().pause">
                                        <i class="fa fa-pause"></i>
                                    </div>
                                </td>
                                <td>{{track.trackName}}</td>
                                <td><a href="#/album/{{track.collectionId}}">{{track.collectionName}}</a></td>
                                <td><a href="#/artist/{{track.artistId}}">{{track.artistName}}</a></td>
                                <td><i class="fa fa-minus on-hover" ng-click="sharedProperties.removeTrackFromPlaylist($index, active.id)"></i></td>
                                <td class="text-center">{{track.time.Minutes}}:{{track.time.Seconds}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="small-12 columns">-->
    <!--<h1>Playlists</h1>-->

    <!--<input ng-model="playlistToAdd" type="text" placeholder="Name"/>-->
    <!--<a ng-click="sharedProperties.createPlaylist(playlistToAdd)" class="button">Add</a>-->
    <!--<a ng-click="alertMessages[alertMessages.length] = 'ALERT'" class="button">Throw Alert</a>-->
    <!--<div ng-repeat="alert in alertMessages track by $index">-->
    <!--<div id="mainAlert1" data-alert class="alert-box alert round" tabindex="$index" aria-live="assertive" role="dialogalert">-->
    <!--{{alert}}-->
    <!--<button href="#" ng-click="removeAlert($index)" tabindex="$index" class="close" aria-label="Close Alert">&times;</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ng-repeat="playlist in sharedProperties.getPlaylists()">-->
    <!--<div class="panel">-->
    <!--<p>[{{$index}}] {{playlist.name}}-->
    <!--</p>-->

    <!--<div ng-show="playlist.isEdit">-->
    <!--<input ng-model="playlistName" type="text" placeholder="Name"/>-->
    <!--<a ng-click="confirmRename(playlist, playlistName)" class="button">Confirm</a>-->
    <!--<a ng-click="setEdit(playlist, false)" class="button">Cancel</a>-->
    <!--</div>-->
    <!--<div ng-hide="playlist.isEdit">-->
    <!--<a ng-click="setEdit(playlist, true)" class="button">Edit</a>-->
    <!--<a ng-click="sharedProperties.removePlaylist($index)" class="button">Delete</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>