<div ng-show="sharedPagesStatus.getIsPageLoaded() && !sharedPagesStatus.getIsCriticalError()">
    <div class="user">
        <div class="user-header">
            <div class="row bloc-artist-img-infos">
                <div class="album-artist-picture">
                    <div class="show-for-medium-up">
                        <div class="img-circular responsive-img" id="img-artist" back-img="{{gravatarImgUrl}}"></div>
                    </div>
                </div>
                <div class="album-artist-infos">
                    <div class="artist-title">
                        <h1>{{userData.name}}</h1>
                    </div>
                    <div class="album-artist-description">
                        <h3>
                            <small>{{userData.email}}</small>
                        </h3>
                    </div>
                    <button ng-click="" class="red small radius"><i class="md-add md-lg"></i> Suivre</button>
                </div>
            </div>
        </div>
        <div class="row" data-equalizer>
            <div class="small-12 columns">
                <div class="panel radius">
                    <h2>Amis</h2>
                    <ul class="following-list no-bullet">
                        <li class="following-item" ng-repeat="follow in userData.following">
                            <a href="#/user/{{follow.id}}">
                                <div class="row bump">
                                    <div class="row">
                                        <div class="card-shadow">
                                            <div class="responsive-img" back-img="http://www.gravatar.com/avatar/{{follow.email | gravatar}}?s=300&r=pg&d=http://glo3102.github.io/team02/img/mystery-man-red.png"></div>
                                            <div class="row collapse text-card">
                                                <div class="text-center">
                                                    <p class="first-text-card ellipsis">{{follow.name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="sharedPagesStatus.getIsPageLoaded() && sharedPagesStatus.getIsCriticalError()">
    <error-msg error-nb="Error {{sharedPagesStatus.getErrorStatus()}}" msg="{{sharedPagesStatus.getErrorMessage()}}"></error-msg>
</div>
<script type="text/javascript" src="js/libs/stackblur.js"></script>
<script type="text/javascript" src="bower_components/md5/build/md5.min.js"></script>